/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  @apply my-1 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600;
}
.btn.btn-gray {
  @apply text-white bg-gray-600;
}
.btn:disabled {
  @apply cursor-not-allowed items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-300 bg-gray-500;
}
